ul li {
    float: left;
    display: block;
    background-color: #9A5927;
    width: 150px;
    text-align: center;
    line-height: 50px;
    font-size: 14pt;
    font-family: "微軟正黑體";
}

ul li a {
    color: #F9F59A;
    text-decoration: none;
}

ul li ul {
    display: none;
}

ul li:hover ul {
    display: block;
}

ul li:hover {
    background-color: #BA7947;
}

ul li ul li:hover {
    background-color: #F9F59A;
}

ul li ul li:hover a {
    color: #9A5927;
}

section {
    position: fixed;
}


/* float sub-menu */

.list {
    position: fixed;
    background-color: #9A5927;
    width: 100%;
    height: 50px;
}

ul li ul {
    display: none;
}

ul li:hover ul {
    display: block;
}


/*about link*/

li a {
    text-decoration: none;
    font-weight: bold;
}

li:hover {
    background-color: #F6BC34;
}


/*setting of article block*/

h2 {
    text-align: center;
}

img {
    display: block;
    margin: 0px auto;
}

#good {
    float: left;
    width: 30%;
    overflow: auto;
    margin-top: 100px;
    background-color: #FFF5CB;
}

#bad {
    float: right;
    width: 30%;
    overflow: hidden;
    margin-top: 100px;
    background-color: #FFF5CB;
}

#feature {
    float: left;
    width: 30%;
    margin-left: 5%;
    margin-top: 100px;
    background-color: #FFF5CB;
}

div h2 {
    border: 2px dashed #8E4806;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-family: "微軟正黑體";
    font-size: 1.5em;
    color: #8E4806;
}

article div h4 {
    color: #8E4806;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.2em;
    padding: 20px;
}

.article {
    max-width: 800px;
    margin: 0 auto;
}

.brief {
    padding: 10px;
    margin: 0 auto;
}
