body {
/*    background-color: yellow;
*/
}

table {
    height: 500px;
    width: 800px;
    font-family: 標楷體;
    text-align: center;
}

th {
    font-weight: bold;
    width: 16%;
    background-color: rgb(71, 26, 25);
    color: rgb(235, 211, 211);
}

tr:nth-child(even) {
    background: rgb(148, 54, 52);
    color: rgb(235, 211, 211);
}

tr:nth-child(odd) {
    background-color: rgb(229, 184, 183);
    color: rgb(104, 42, 41);
}
